body {
	margin: 0;
}

.query {
	background-color: #fafafa;
}

.first-line {
	display: inline-block;
}

#logo {
	display: inline-block;
	float: left;
	width: 48%;
	height: auto;
	margin-top: 24px;
	margin-left: 13px;
}

#search {
	display: inline-block;
	margin-left: 10px;
	margin-top: 15px;
	position: absolute;
}

#search input {
	width: 629px;
	height: 40px;
	padding: 0;
	margin-top: 5px;
	margin-left: 5px;
}

.menu {
	display: inline-block;
	list-style-type: none;
	text-align: right;
	position: absolute;
	right: 0px;
	margin-right: 29px;
	top: 11px;
}

.menu li {
	display: inline-block;
	text-align: right;
}

#apps {
	color: grey;
	position: absolute;
	top: 20px;
	right: 94px;
}

#notifications {
	color: grey;
	position: absolute;
	top: 20px;
	right: 50px;
}

#image {
	width: 32px;
	border-radius: 50%;
}

.tabs {
	list-style-type: none;
	display: inline-block;
	margin-left: 122px;
}

.tabs li {
	display: inline-block;
	margin: 2px;
	padding: 2px;
}

.tabs li a {
	text-decoration: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: grey;
	margin-right: 20px;
}

.search-result p {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: rgba(0, 0, 0, .54);
	margin-left: 168px;
}

.search-result .title {
	font-family: arial, sans-serif;
	font-size: 18px;
	margin-bottom: 1px;
	color: blue;
}

.search-result .title a {
	text-decoration: none;
}

.search-result .link {
	font-family: arial, sans-serif;
	font-size: 14px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 1px;
	color: green;
}

.search-result .text {
	font-family: arial, sans-serif;
	font-size: 13px;
	margin-right: 620px;
	margin-top: 0px;
	color: grey;
	margin-bottom: 1px;
}

.search-result .links {
	list-style-type: none;
	display: inline-block;
	margin-left: 129px;
	margin-top: 0px;

}

.search-result .links li {
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.search-result .links li a {
	text-decoration: none;
}

#search-keyboard {
	position:absolute;
	top: 15px;
	right: 95px;
	color: grey;
}

#search-mic {
	position: absolute;
	top: 15px;
	right: 55px;
	color: #4285f4;
}

#search-icon {
	position: absolute;
	top: 15px;
	right: 15px;
	color: #4285f4;
}